In [38]:
import pandas as pd
import numpy as np

In [39]:
mons = pd.read_csv('..\\data\\pokemon.csv')
mons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              416 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

In [40]:
#Legendary pokemons to non-legendary ones comparision
legends = mons[mons['is_legendary'] == 1]
normal = mons[mons['is_legendary'] == 0]

In [41]:
mean_l = legends['base_total'].mean()
mean_n = normal['base_total'].mean()
max_base_stat = mons['base_total'].max()
filt = (mons['base_total'] == max_base_stat)
max_stat = mons[filt]['name']

In [42]:
print(f'Legendary pokemons have a base stat total bigger on average by {mean_l - mean_n}')

Legendary pokemons have a base stat total bigger on average by 204.77561070940004

In [43]:
print(f'Pokemons with the maximum base stat: \n{max_stat} \nbase total = {max_base_stat}')

Pokemons with the maximum base stat:
149      Mewtwo
383    Rayquaza
Name: name, dtype: object
base total = 780

In [44]:
#Stats by type
type_names = mons['type1'].unique()
type_names

array(['grass', 'fire', 'water', 'bug', 'normal', 'poison', 'electric',
       'ground', 'fairy', 'fighting', 'psychic', 'rock', 'ghost', 'ice',
       'dragon', 'dark', 'steel', 'flying'], dtype=object)

In [45]:
def findStatMean(typ:str):
    filt = (mons['type1'] == typ) | (mons['type2'] == typ)
    stat_mean = mons[filt]['base_total'].mean()
    return stat_mean

In [46]:
stats_by_type = pd.DataFrame(type_names, columns=["type"])
stats_by_type['stat_mean'] = stats_by_type['type'].apply(findStatMean).round(2)
stats_by_type.set_index('type', inplace=True)

In [75]:
stats_by_type.sort_values(by='stat_mean', ascending=False)

          stat_mean
type
dragon       513.00
steel        493.67
psychic      463.79
fighting     456.58
fire         452.23
dark         447.74
ice          447.13
rock         446.98
ghost        444.80
flying       441.73
electric     439.19
ground       430.72
fairy        425.81
water        424.04
grass        411.48
normal       401.67
poison       397.45
bug          380.44

In [59]:

gens = mons.groupby('generation')['base_total'].mean()
gens
mons

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,type
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,grass/poison
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,grass/poison
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,grass/poison
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,NaN,8.5,1,0,fire
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,NaN,19.0,1,0,fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,797,107,101,61,steel,flying,999.9,7,1,steel/flying
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,798,59,31,109,grass,steel,0.1,7,1,grass/steel
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,799,97,53,43,dark,dragon,888.0,7,1,dark/dragon
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,800,127,89,79,psychic,NaN,230.0,7,1,psychic
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,801,130,115,65,steel,fairy,80.5,7,1,steel/fairy

In [49]:
against_columns = mons.loc[:, 'against_bug':'against_water']

def count_weaknesses(row):
    counts = row.value_counts()
    return pd.Series({
        'count_0': counts.get(0.0, 0),
        'count_0.25': counts.get(0.25, 0),
        'count_0.5': counts.get(0.5, 0),
        'count_1.0': counts.get(1.0, 0),
        'count_2.0': counts.get(2.0, 0),
        'count_4.0': counts.get(4.0, 0)
    })

weakness_counts = against_columns.apply(count_weaknesses, axis=1)

weakness_df = pd.concat([mons['name'], weakness_counts], axis=1)
weakness_df.columns = ['Name', 'x0', 'x0.25', 'x0.5','x1.0', 'x2.0', 'x4.0']

In [50]:
def concat_type(x):
    if pd.isna(x['type2']):
        return x['type1']
    else:
        return f"{x['type1']}/{x['type2']}"


mons['type'] = mons.apply(concat_type, axis=1)
weakness_df['type'] = mons['type']

In [51]:
weakness_df[weakness_df['x0'] == weakness_df['x0'].max()]

          Name  x0  x0.25  x0.5  x1.0  x2.0  x4.0          type
301    Sableye   3      0     1    13     1     0    dark/ghost
424   Drifloon   3      1     2     7     5     0  ghost/flying
425   Drifblim   3      1     2     7     5     0  ghost/flying
441  Spiritomb   3      0     1    13     1     0    ghost/dark
621     Golett   3      1     2     7     5     0  ground/ghost
622     Golurk   3      1     2     7     5     0  ground/ghost
678    Honedge   3      1     8     2     4     0   steel/ghost
679   Doublade   3      1     8     2     4     0   steel/ghost
680  Aegislash   3      1     8     2     4     0   steel/ghost
768  Sandygast   3      1     2     7     5     0  ghost/ground
769  Palossand   3      1     2     7     5     0  ghost/ground
777    Mimikyu   3      1     0    12     2     0   ghost/fairy

In [52]:
cols = weakness_df.columns.tolist()
cols[1], cols[7] = cols[7], cols[1]
cols

['Name', 'type', 'x0.25', 'x0.5', 'x1.0', 'x2.0', 'x4.0', 'x0']

In [53]:
weakness_df = weakness_df.reindex(columns=cols)

In [54]:
weakness_df[weakness_df['x0.25'] == weakness_df['x0.25'].max()]

        Name        type  x0.25  x0.5  x1.0  x2.0  x4.0  x0
484  Heatran  fire/steel      5     4     5     2     1   1

In [55]:
weakness_df.set_index('Name').to_csv('..\\result_data\\Weaknesses.csv')

In [56]:
stats_by_type.to_csv('..\\result_data\\stats_by_type.csv')

In [88]:
gensdf = pd.DataFrame(gens)
gensdf.columns = ['Base_stat_mean']
gensdf.to_csv('..\\result_data\\Stats_by_generation.csv')

In [95]:
gensdf.groupby('generation').quantile()

            Base_stat_mean
generation
1               416.251656
2               413.180000
3               420.022222
4               451.177570
5               427.038462
6               437.611111
7               448.162500